# https://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html#SEC10
# $ man readline  (libedit?)
#
# $ bind -f ~/.inputrc
# $ bind -l list the names of all readline functions
# $ bind -lp
#
# TODO:
# https://wiki.archlinux.org/index.php/bash#Mimic_Zsh_run-help_ability
#
#
#
#=============================================================================

# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
$include /etc/inputrc


# colored-stats
#   If set to `on', Readline displays possible completions using different
#   colors to indicate their file type. The color definitions are taken from
#   the value of the LS_COLORS environment variable. The default is `off'.
set colored-stats On
# completion-ignore-case
#   If set to `on', Readline performs filename matching and completion in a
#   case-insensitive fashion. The default value is `off'.
set completion-ignore-case On
#set completion-prefix-display-length 3
set completion-prefix-display-length 2
set mark-symlinked-directories On
#set match-hidden-files Off
#set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On


$if term=st-256color
set enable-keypad on
$endif

$if term=stterm-256color
set enable-keypad on
$endif


set editing-mode vi

Control-l: clear-screen
#Control-h is backward-delete-char
#Control-i is TAB
Control-a: "\"$(xsel -p)\""

#{{{ Tests

#"\ex": 'cd !$ \015ls\015pwd\015'
#"\C-x": 'cd !$ \015ls && pwd\015'
#"\C-x": 'echo "$(xsel -p)"'

# Quote the current or previous word
#"\C-xq": "\eb\"\ef\""


#}}}


#
#set keymap vi-command

#"\C-p":history-search-backward
#"\C-n":history-search-forward
"\C-r":history-search-backward
"\C-e":history-search-forward
# up/right arrows
"\e[A": history-search-backward
"\e[B": history-search-forward
# ensure that left and right continue to work correctly
"\e[C": forward-char
"\e[D": backward-char

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
"\e-": "\C-p\C-a\M-f "

# Cycle thru completions.
"\e/": menu-complete


# alternate mappings for "page up" and "page down" to search the history
"\e[5~": history-search-backward
"\e[6~": history-search-forward


set keymap vi-insert
# {

# Two escapes clear command line. (Use C-c or \eC\eC instead)
"\e\e": "\e0\C-ki"

# Cycle thru completions.
"\C-a": menu-complete

# Edit options before rerunning previous command, eg: ls a b c -> ls -al a b c
#"\C-o": "\e-0eli "

# }







# Macros that are convenient for shell interaction
$if Bash
# edit the path
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
# prepare to type a quoted word --
# insert open and close double quotes
# and move to just after the open quote
"\C-x\"": "\"\"\C-b"
# insert a backslash (testing backslash escapes
# in sequences and macros)
"\C-x\\": "\\"
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
# Add a binding to refresh the line, which is unbound
"\C-xr": redraw-current-line
# Edit variable on current line.
"\M-\C-v": "\C-a\C-k$\C-y\M-\C-e\C-a\C-y="
$endif


